{% extends "layout.html" %}
{% block content %}

<h3 class="text-center">Cast Your Vote</h3>

<form method="POST" class="card p-4 mx-auto" style="max-width:400px;">
    {% for c in candidates %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="candidate" value="{{ c }}" required>
        <label class="form-check-label">{{ c }}</label>
    </div>
    {% endfor %}

    <button class="btn btn-primary mt-3 w-100">Submit Vote</button>
</form>

<a href="/logout" class="btn btn-danger mt-3">Logout</a>

{% endblock %}